@import "tailwindcss";

@theme {
  --color-background: #F3F4F6;
  --color-foreground: #111827;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    padding: 0;
  }
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}